__pycache__/
*.pyc
*.pyd

dist/
build/
eggs/
.egg-info/
wheelhouse/
pip-log.txt
pip-delete-this-directory.txt

venv/
.venv/
env/
envs/
test_venv/
.tox/

*.log
*.out

*.sqlite
*.db

*.ini
*.cfg
.env
.env.*
!.env.example
!.env.template

*.swp
*.swo
*.bak
~$*
\#*\#

.idea/
.project
.pydevproject
.vscode/
*.sublime-project
*.sublime-workspace

data/
logs/
output/